body{
    margin: 0;
    padding: 0;
}

#cards{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    
}

.card_perfil {
    width: 330px;
    height: 430;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: #FBF9FA;
}

.card_perfil:hover {
    /**transform: translate(15px);**/
    box-shadow: 0 0px 16px rgba(0, 0, 0, 2);
}

.card_perfil img {
    width: 330px;
    height: 220px;
}

.card_perfil h4 {
    font-weight: 600;
}

.card_perfil p {
    padding: 0 1rem;
    font: size 16px;
    font-weight: 300;
}

.card_perfil a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}

.card_perfil button{
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 2);
}

.agricultura {
  text-align: center;
  padding: 0 1rem;
}
